body {
  font-weight: 400; }

a.logo, span.logo {
  font-family: 'Fahkwang', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1; }
  a.logo span, span.logo span {
    text-transform: lowercase;
    font-size: 35px; }

span.logo {
  text-transform: uppercase; }
  span.logo span {
    font-size: 51px; }

h1.greeting {
  text-align: center;
  color: #000; }

.flag-carousel {
  position: relative; }

.flag-container {
  width: 90%;
  overflow: scroll;
  margin: 0 auto 50px;
  position: relative; }

ul.flags {
  display: flex;
  padding: 0;
  margin-bottom: 0; }
  ul.flags li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer; }
    ul.flags li:first-child {
      margin-left: 0; }
    ul.flags li img {
      width: 15em;
      border-radius: 6px;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
  ul.flags.flags-sm {
    justify-content: center; }
    ul.flags.flags-sm li img {
      width: 3em; }

.scroll-btn {
  border: 0;
  font-size: 25px;
  line-height: 1;
  width: 50px;
  padding: 0;
  position: absolute;
  top: 0;
  height: 100%;
  outline: 0;
  background: #fff;
  z-index: 1; }
  .scroll-btn.right {
    right: 0; }

.form-inline {
  width: 300px;
  margin: 0 auto; }
  .form-inline .form-group {
    margin-bottom: 0; }
  .form-inline .control-label, .form-inline .need-have-switch {
    line-height: 30px;
    vertical-align: text-top;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    width: 49%;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom-width: 3px;
    margin-bottom: 3px; }
    .form-inline .control-label.active, .form-inline .need-have-switch.active {
      color: #000;
      border-color: #000;
      background: #fff; }
  .form-inline .twitter-typeahead {
    display: block !important;
    clear: both; }
  .form-inline input {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    min-width: 300px; }

.btn-default {
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
  margin-top: 5px;
  width: 300px;
  margin-bottom: 35px; }

.categories-container, .resources-container {
  display: inline-block;
  margin-bottom: 35px;
  width: 100%; }
  .categories-container .categories-list .category, .categories-container .categories-list .resource, .categories-container .resources-list .category, .categories-container .resources-list .resource, .resources-container .categories-list .category, .resources-container .categories-list .resource, .resources-container .resources-list .category, .resources-container .resources-list .resource {
    display: block;
    text-align: center;
    background: #fff;
    padding: 20px;
    height: auto;
    min-height: 375px;
    margin-bottom: 25px; }
  .categories-container .categories-list .icons, .categories-container .resources-list .icons, .resources-container .categories-list .icons, .resources-container .resources-list .icons {
    display: block; }
    .categories-container .categories-list .icons img.caticon-4, .categories-container .categories-list .icons img.caticon-3, .categories-container .categories-list .icons img.caticon-2, .categories-container .resources-list .icons img.caticon-4, .categories-container .resources-list .icons img.caticon-3, .categories-container .resources-list .icons img.caticon-2, .resources-container .categories-list .icons img.caticon-4, .resources-container .categories-list .icons img.caticon-3, .resources-container .categories-list .icons img.caticon-2, .resources-container .resources-list .icons img.caticon-4, .resources-container .resources-list .icons img.caticon-3, .resources-container .resources-list .icons img.caticon-2 {
      width: 50%;
      height: 75px;
      margin-bottom: 10px; }
    .categories-container .categories-list .icons img.caticon-1, .categories-container .resources-list .icons img.caticon-1, .resources-container .categories-list .icons img.caticon-1, .resources-container .resources-list .icons img.caticon-1 {
      width: 100%;
      max-height: 264px; }
    .categories-container .categories-list .icons .linecon, .categories-container .resources-list .icons .linecon, .resources-container .categories-list .icons .linecon, .resources-container .resources-list .icons .linecon {
      color: #000;
      font-size: calc( 7rem + (30 - 7) * ( (100vw - 150px) / ( 370 - 150) )); }
  .categories-container .categories-list .name, .categories-container .resources-list .name, .resources-container .categories-list .name, .resources-container .resources-list .name {
    display: block;
    text-transform: uppercase;
    color: #000;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    overflow-wrap: break-word; }
  .categories-container .resources-list, .resources-container .resources-list {
    width: 100%; }
    .categories-container .resources-list .resource, .resources-container .resources-list .resource {
      min-height: 220px; }
      .categories-container .resources-list .resource img.resource-img, .resources-container .resources-list .resource img.resource-img {
        width: 100%;
        margin-bottom: 10px; }

.alert {
  padding-top: 75px;
  text-align: center;
  margin-bottom: 0; }

div.form-panel {
  margin-top: 20px; }

h1.form {
  margin-left: 10px; }

.breadcrumb {
  background: #fff; }

.user-profile .picture img {
  width: 100%; }

.resource-detail .picture img {
  width: 100%; }
