body {
  font-weight: 400; }

h1.greeting {
  text-align: center; }

.flag-container {
  width: 90%;
  overflow: scroll;
  margin: 0 auto; }

ul.flags {
  display: flex;
  padding: 0; }
  ul.flags li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer; }
    ul.flags li:first-child {
      margin-left: 0; }
    ul.flags li img {
      width: 15em;
      border-radius: 6px;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
  ul.flags.flags-sm {
    justify-content: center; }
    ul.flags.flags-sm li img {
      width: 3em; }

.form-inline {
  display: flex;
  justify-content: center; }
  .form-inline label {
    line-height: 40px;
    vertical-align: text-top;
    text-transform: uppercase;
    margin-right: 5px; }
  .form-inline input {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin-right: 10px; }

.btn-default {
  padding: 0 20px;
  line-height: 40px;
  height: 40px; }

.alert {
  padding-top: 75px;
  text-align: center;
  margin-bottom: 0; }

div.form-panel {
  margin-top: 20px; }
