body {
	font-weight: 400;
}
h1.greeting {
	text-align: center;
}
.flag-container {
	width: 225px;
	overflow: scroll;
	margin: 0 auto 50px;
	position: relative;
}
ul.flags {
	display: flex;
	padding: 0;
	li {
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		&:first-child {
			margin-left: 0;
		}
		img {
			width: 15em;
			border-radius: 6px;
			box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
		}
	}
	&.flags-sm {
		li {
			img {
				width: 3em;
			}
		}
	}
}
.form-inline {
	display: flex;
	justify-content: center;
	label {
		line-height: 40px;
		vertical-align: text-top;
		text-transform: uppercase;
		margin-right: 5px;
	}
	input {
		height: 40px;
		line-height: 40px;
		padding: 0 15px;
		margin-right: 10px;
	}
}
.btn-default {
	padding: 0 20px;
	line-height: 40px;
	height: 40px;
}
.categories-container {
	display: inline-block;
	margin-bottom: 50px;
	.categories-list {
		.category {
			display: block;
			text-align: center;
			background: #fff;
			padding: 20px;
			height: auto;
			min-height: 320px;
			margin-bottom: 25px;
		}
		.icons {
			display: block;
			img {
				&.caticon-4, &.caticon-3, &.caticon-2 {
					width: 50%;
					height: 75px;
				}
				&.caticon-1 {
					width: 100%;
				}
			}
		}
		.name {
			display: block;
			text-transform: uppercase;
			color: #000;
			margin-top: 15px;
			font-size: 20px;
			font-weight: 700;
		}
	}
}
.alert {
  padding-top:75px;
  text-align: center;
  margin-bottom: 0;
}
div.form-panel {
	margin-top: 20px;
}