{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='flag-icon-css-master/css/flag-icon.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-5.4.1/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typeahead.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zabuto_calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/gritter/css/jquery.gritter.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lineicons/style.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        window.lang_code = '{{ g.lang_code or "en" }}';
    </script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeahead.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart-master/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common-scripts.js') }}"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" async></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" async></script>
{% endblock %}

{% block content %}
    <section id="container">
        {% include 'nav.jinja.html' %}
        <div class="row-fluid">
            {% include 'messages.jinja.html' %}
        </div>
        {% include 'sidebar.jinja.html' %}
        {% block wrapper %}{% endblock %}
        {% include 'footer.jinja.html' %}
    </section>
{% endblock %}
