{% extends "base.jinja.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block wrapper %}
<section id="main-content">
    <section class="wrapper site-min-height">
        <h1 class="form">{{ _("User Profile") }}</h1>
        <div class="form-panel">
        <div class="row">
            <div class="col-sm-6">
                <div>
                <h3>Edit Your Haves and Needs</h3>
            </div>
                <a class="btn btn-info col-sm-5" href="#"><i class="fa fa-plus"></i> Edit My Needs...</a>
                <a class="btn btn-info col-sm-5 pull-right" href="#"><i class="fa fa-plus"></i> Edit My Haves...</a>
            </div>
        </div>
        {{ wtf.quick_form(form) }}
        </div>
    </section>
</section>

{% endblock %}