{% extends "base.jinja.html" %}

{% block wrapper %}
<h1 class="greeting">{{ _("Hello, World!") }}</h1>
    <ul class="{% if g.lang_code %}flags-sm{% else %}flags{% endif %}">
        <li><img src="{{ url_for('static', filename='flag-icon-css-master/flags/4x3/us.svg') }}" style="height: 3em;"/></li>
        <li><img src="{{ url_for('static', filename='flag-icon-css-master/flags/4x3/de.svg') }}" style="height: 3em;"/></li>
        <li><img src="{{ url_for('static', filename='flag-icon-css-master/flags/4x3/fr.svg') }}" style="height: 3em;"/></li>
        <li><img src="{{ url_for('static', filename='flag-icon-css-master/flags/4x3/af.svg') }}" style="height: 3em;"/></li>
        <li><img src="{{ url_for('static', filename='flag-icon-css-master/flags/4x3/cn.svg') }}" style="height: 3em;"/></li>
        <li><img src="{{ url_for('static', filename='flag-icon-css-master/flags/4x3/jp.svg') }}" style="height: 3em;"/></li>
        <li><img src="{{ url_for('static', filename='flag-icon-css-master/flags/4x3/tk.svg') }}" style="height: 3em;"/></li>
    </ul>

    <ul class="inputs"></ul>
    <form method="POST" class="form-inline">
        <div class="form-group">
            <label for="id_resource">{{ _("I need") }}: </label>
            <input class="typeahead form-control" id="id_resource" type="text" placeholder="{{ _("What do you need?") }}">
        </div>
        <button type="submit" class="btn btn-default">{{ _("Submit") }}</button>
    </form>
{% endblock %}

