{%- macro display_resources(resources) -%}
<div class="categories-container">
    <div class="resources-list row-fluid">
    {% for resource in resources %}
        <div class="col-sm-4 resource-detail">
            <a class="resource pn picture" href="{{ url_for('resource.detail_view', lang_code=(g.lang_code if g.lang_code else 'en'), id=resource.id) }}">
                <img class="resource-img" src="{{ resource.picture_url }}" />
                <span class="name">{{ _(resource.name) }}</span>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{%- endmacro -%}
