{%- macro display_resources(resources) -%}
<div class="categories-container">
    <div class="resources-list row-fluid">
    {% for resource in resources %}
        <div class="col-sm-4">
            <a class="resource pn" href="#">
                <img class="resource-img" src="{{ url_for('static', filename='fontawesome-5.4.1/svgs/solid/bed.svg') }}" />
                <span class="name">{{ _(resource.name) }}</span>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{%- endmacro -%}
