{% extends "base.jinja.html" %}
{% from "macros.jinja.html" import display_resources %}

{% block wrapper %}
<section id="main-content">
    <section class="wrapper site-min-height user-profile">
        <h1 class="form">{{ _("User Profile") }}</h1>
        <div class="form-panel">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-2 picture">
                    <img src="{{ file_url(user.picture) if user.picture else url_for('static', filename='img/ui-sam.jpg') }}" />
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-9 info">
                    <h1>{{ user.name }}</h1>
                    <h2>{{ _("About Me") }}</h2>
                    <p>{{ user.bio }}</p>
                    {% if user == current_user %}
                    <h2>{{ _("User Information") }}</h2>
                    <table class="table">
                        <tr><th>{{ _("E-Mail Address") }}</th><td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td></tr>
                        <tr><th>{{ _("Phone Number") }}</th><td><a href="tel:{{ user.phone }}">{{ user.phone }}</a></td></tr>
                        {% if user.secondary_phone %}
                            <tr><th>{{ _("Secondary Phone Number") }}</th><td><a href="tel:{{ user.secondary_phone }}">{{ user.secondary_phone }}</a></td></tr>
                        {% endif %}
                        <tr><th>{{ _("Primary Role") }}</th><td>{{ user.primary_role.value }}</td></tr>
                        <tr><th>{{ _("Locale") }}</th><td>{{ user_locale_name(user) }}</td></tr>
                    </table>
                    {% endif %}

                    <div id="user-resources">
                    {% if resource_needs %}
                        <h2>{{ _("I need") if current_user == user else user.name + ' ' + _("needs") }}</h2>
                        {{ display_resources(resource_needs) }}
                    {% endif %}
                    {% if resource_haves %}
                        <h2>{{ _("I am offering") if current_user == user else user.name + ' ' + _("is offering")  }}</h2>
                        {{ display_resources(resource_haves) }}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}
